html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: Overpass, sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #fff;
  background-image: linear-gradient(to bottom, #ff9500, #ff5e3a);
}

section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6vmin;
  padding: 6vmin;
}

header {
  grid-column: 2;
  display: grid;
  justify-content: center;
}

figure {
  grid-row: 2;
  width: 32%;
}

.content {
  display: flex;
  flex-direction: column;
}

a {
  color: #fff;
  padding: 1rem;
  border: solid rgba(255, 255, 255, .7);
  text-decoration: none;
}

a:hover {
  background-color: #fff;
  color: #ff5e3a;
}
